@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

:root {
    --main-color : #468080;
    --secondary-color: hsla(187, 33%, 40%, 0.644);
    --accent-color:   #ff8c40;
    --gradient-dark: linear-gradient(145deg, rgba(0,0,0,0), rgba(0,0,0,.5));
    --gradient-light: linear-gradient(145deg, rgba(255,255,255,0), rgba(255,255,255,.5));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a, p, button {
    font-family: 'Quattrocento Sans', sans-serif;
}
  
ul, li {
    list-style-type: none;
}
  
a{
    text-decoration: none;
    color: #fff;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    font-size: clamp(2rem, 1.3571rem + 2.8571vw, 3.5rem);
}

h3 { 
    font-family: 'Oswald', sans-serif;
    font-size: clamp(1.2rem, 1.7857rem + 0.9524vw, 1.5rem);
}


  
img {
    width: 100%;
    display: block;
}
  
.container {
    max-width: 1200px;
    margin: 0 auto;
}
  
header {
    min-height: 100vh;
    background-image: url(./assets/hero-img.jpg), url(./assets/hero-img.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    position: relative;
}

.hamburger {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
  
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
    background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
    display: flex;
}

.logo {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.navbar li {
    margin-left: 16px;
    /* position: relative;
    z-index: 2;
    transition: color 0.5ms; */
}

/* .navbar li::before {
    content: '';
    background-color: var(--main-color);

    width: 100%;
    height: 300%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
} */

/* .navbar li:hover {
    color: #fff;
}

.navbar li:hover::before {
    top: 50%;
    opacity: 1;
} */

.navbar a {
    
    padding: .7em 1.25em;
    letter-spacing: 1px;
    transition: all .7s ease;
}

.navbar a:hover {
    color: var(--accent-color);
    font-weight: 700;
    text-transform: uppercase;

}

.hero-text {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    padding: 1.5em;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    animation: moveRight 3s ease-in-out forwards;
    opacity: 0;
  
}


@keyframes moveRight {
    from {
        transform: translatex(-200%);
    }
    to {
        transform: translatex(-50%);
        opacity: 1;
    }
}

.hero-text h1 {
    color: #fff;
   
    text-transform: uppercase;
    letter-spacing: 1px;
}
  
.hero-text p {
    font-size: 1.15rem;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.2;
   
}
  
.hero-text button {
  
    background-color: transparent;
    cursor: pointer;
    margin-top: 1em;
    padding: .7em 1.8em;
    border: 1px solid #fff;
    border-radius: 50px;
    
  
    font-family: 'Quattrocento Sans', sans-serif;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
}
  
.hero-text button:hover {
  background-color: var(--main-color) ;
  transform: scale(1.1);
  box-shadow: 0 .7em 1em -.5em rgba(0, 0, 0, .25), 0 1em 3em -4em, 0 1em 4em -5em;
}
  
.hero-text button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba (0, 0, 0, 0.24);
}
  
  /* SERVICIOS */

.servicios-container {
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
  
.icon-container {
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .5);
    
    padding: 1.5em;

    text-align: center;    
}

.icon-container:hover {
    background-color: var(--main-color) ;
    background-image: var(--gradient-dark);

}
.icon-container i{
    
    font-size: 2.5rem;
    color: #333;
       
    padding: 1em;
    transition: transform 1s;
    
}

.icon-container:hover i,
.icon-container:hover p {
    color: #fff;
    transform: rotateY(360deg);
}

/* NOVEDADES */

.novedades {
    padding: 3rem 0;
}

.novedades h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.novedades p {
    line-height: 1.5;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    margin: 20px auto;
}

.art {
    border: 2px solid #eee;
    border-radius: 20px;
    padding: 1.2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    /* animation observer */
    transform: translateX(50px);
    opacity: 0;
    transition: 1500ms;


}

.art.show {
    transform: translateX(0);
    opacity: 1;
  } 

.novedades img {
    width: 60%;
    margin: 0 auto;
   border-radius: 50%;
}

.novedades-texto {
    padding: .5rem 0;
    /* margin-top: 2em; */
    height: 12rem;
    display: grid;
    grid-template-rows: 15% 60% 15%;
    text-align: center; 
    justify-items: center;
    gap: 1rem;
    
}

.btn {
    
    color: #fff;
    background-color: var(--main-color);
    border-radius: 30px;
    padding: .3em 1.5em;
}



.nosotros {
    background-color: var(--main-color);
    margin: 3em 0;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax var(--main-color);
    clip-path: inset(0 -100vmax);
}

.nosotros-texto {
    margin: 0 auto;
    padding: 3em;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1em;
    color: #fff;
}

.nosotros-texto p {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.2;
}

/* PRODUCTOS */

.productos {
    margin: 3rem 0;

}

.productos h2 {
    text-align: center; 
    
    margin-bottom: 4rem;
}

.grid-prod-container {
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
    
    width: 70%;
    gap: 3em;
    margin: 20px auto;

    

}

article {
    
    border: 2px solid #eee;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

/* animation observer */
    transform: translateX(50px);
    opacity: 0;
    transition: 1500ms;
  }

  article.show {
    transform: translateX(0);
    opacity: 1;
}  

.card {
    position: relative;
    
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;

    border: 1px solid lightgray;
}

.card .text {
    padding: 15px;

}


.card h2 {
    font-size: 2rem;
    margin-bottom: 20px;

}

.card .more-btn {
    width: 100px;
    height: 100px;
    background-color: var(--main-color); 
    
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 9;
    font-size: 20px;
    transition:  all ease 0.5s;
}

.card .more-btn:hover {
    background-color: var(--accent-color);

}

.more-text {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
        
    padding: 2em 1em;
    overflow-y: auto;
    transition: all ease 0.7s;
}

.more-text p {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 1.5em;
    text-align: center;
}
.active {
    bottom: 0;
}

/* API REST */

.clientes {
    margin: 15rem 0;
}

blockquote {
    margin-top: 1em;
    font-size: 1.2rem;
}

.clientes h2 {
    text-align: center;
}

.clientes ul {

    color: #333;
    margin-top: 5em;
     display: flex;
    /*flex-direction: row; */
}

.clientes li {
  
    background-color: #cde2d9; 
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    text-align: center;
    padding: 2em 1em;
    width: 80%;
    /* margin: 0 auto 5em; */
    margin: 0 1em;
    border-radius: 1em;

}

.clientes img {
    width: 8em;
    height: 8em;
    background-color: aliceblue;
    border-radius: 50%; 
    margin: 0 auto;
    margin-top: -5.5em;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.cliente-opinion cite {
    margin-top: 2em;
}


/* CONTACTO */

#contacto{
    padding: 3em 2em;
}
.contacto-container {
    position: relative;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "form info"
    "form mapa";
    gap: 20px;

    
    
}

.error {
    display: inline-block;
    color: red;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.form {
    grid-area: form;
    border: 2px solid var(--main-color);
    border-radius: 20px;
    padding: 1em 2em;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/* .control small {
    display: block;
    color: red;
    visibility: hidden;
} */

.info {
    grid-area: info;

    border-radius: 20px;
    background-color: var(--main-color);
    color: #fff; 
    padding: 3em;

    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1em;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.mapa {
    grid-area: mapa;
    border-radius: 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.info p {
    font-size: 1.3rem;
        
}

.flex {
    display: flex;
    gap: 1em;
  
}


label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input, textarea {
    width: 90%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
    outline: none;
}

input:focus,
textarea:focus {
    border: 2px solid var(--main-color); 
}


input[type="submit"] {
    background-color: var(--accent-color);
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    /* margin-bottom: 5em; */
    border-radius: 5em;
    display: block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;


    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: all ease-in-out 200ms;
}

input[type="submit"]:hover {
transform: scale(1.1);
box-shadow: 0 .7em 1em -.5em rgba(0, 0, 0, .25), 0 1em 3em -4em, 0 1em 4em -5em;
}

input[type="submit"]:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);

}

#modal {
    max-width: 150ch;
    padding: 4rem;
    border-radius: 20px;

    /* position: absolute;  */
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    margin: 0; 
}

.close-modal {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Quattrocento Sans', sans-serif;
    border: none;
    border-radius: 5em;
    display: block;
    padding: .8em 2em;
    cursor: pointer;
}


iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* FOOTER */

footer {
    
    background-color: var(--main-color);
    
    padding: 4rem;
    margin-top: 3em;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.brand a {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    display: block;

    text-align: center;
    
}

.footer-navbar {
    display: flex;
    padding: 1em;
    justify-content: center;
}

.footer-navbar li {
    padding: .5rem;
}


.footer-link {
    font-size: 1.25rem;
}

.footer-link:hover {
    font-weight: 700;
}

.sociales {
    color: #fff;
    font-size: 2.5rem;
    margin-top: 1em;
    display: flex;
    justify-content: space-evenly;
}


.scrollup {
    cursor: pointer;
    color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 10;
}

.scrollup:hover {
    background-color: var(--accent-color);
    color: #fff;
}


/* MEDIA QUERIES */

@media screen and (max-width: 980px) {

    .servicios-container {
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;

    }

    .icon-container {
        flex-wrap: wrap;
    }

    .icon-container > * {
        flex: 1 0 80%;
    }

    .art {
      grid-column: span 3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* gap: 60px; */
      align-items: center;
    }

    .grid-prod-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        width: 100%;
    }

    .more-text p {
        font-size: 1.2rem;
    }

    #opiniones {
        /* display: flex; */
        flex-direction: column;
        gap: 5rem;
    }

    #opiniones li {
        margin: 0 auto;
    }

    .contacto-container {
        grid-template-rows: 50% 30%;
        grid-template-areas: 
        "form form"
        "info mapa";
    }

    .footer-navbar {
        flex-wrap: wrap;
    }
  }

  @media screen and (min-width: 461px) and (max-width: 730px){
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
   
    .navbar.show {
        display: flex;

    }
    .hamburger {
        display: block;
    }

    .navbar li {
        margin-top: .75em;
    }

  }
  
  @media screen and (max-width: 460px) {

    nav {
        
        flex-wrap: wrap;
    }

    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }
   
    .navbar.show {
        display: flex;

    }
    .hamburger {
        display: block;
    }

    .navbar li {
        margin-top: .75em;
    }

    .servicios-container {
        grid-template-columns: 1fr;
    }

    .art {
      display: block;
      margin: 0 20px;
    }

    .grid-prod-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
    }

    .more-text p {
        font-size: 1.2rem;
    }

    .contacto-container {
        display: flex;
        flex-direction: column;
    }

    .titulo {
        flex-direction: column;
    }

    .links {
        margin-top: 1em;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
                
    }

    .footer-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
  }
  

